<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="StillAlive" android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:localeConfig="@xml/locales_config">
        <activity android:name=".MainActivity" android:exported="true"
            android:launchMode="singleTop" android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true" android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data android:name="flutterEmbedding" android:value="2" />
    </application>

    <uses-feature android:name="android.hardware.audio.output" android:required="true" />
    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />
    <uses-feature android:name="android.hardware.screen.portrait" android:required="true" />
    <uses-feature android:name="android.software.app_widgets" android:required="false" />

    <!-- API <= 29 -->

    <!-- Location: Used to detect user movement and trigger safety checks. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- API 1 (requires explicit user approval) [optional] -->

    <!-- Precise location: Used for accurate location sharing in emergency alerts. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- API 1 (requires explicit user approval) [optional] -->

    <!-- Background location: Required for monitoring while the app is not open. -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- API 29 (requires explicit user approval) [optional] -->

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- API 28 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- API 1 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- API 1 -->

    <!-- Contacts: Used so the user can select emergency contacts. -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- API 1 (requires explicit user approval) [required] -->

    <!-- Microphone: Used for voice-triggered safety features. -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- API 1 (requires explicit user approval) [optional] -->

    <!-- SMS: Used to send automatic emergency SMS alerts to selected contacts. -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- API 1 (requires explicit user approval) [required] -->

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <!-- API 29 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- API 1 -->


    <!-- API > 29 -->

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <!-- API 34 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <!-- API 34 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <!-- API 34 -->

    <!-- Notifications: Used to notify the user about check-in timers, missed responses, emergency
    status changes, and background monitoring events. -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- API 33 (requires explicit user approval) [required] -->

    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>